<% layout('layouts/boilerplate')%>
<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">😔 Something Went Wrong!</h4>
            <p>We're sorry, but something went wrong while processing your request.</p>
            <p>Please try the following:</p>
            <ul>
                <li>Refresh the page and try again.</li>
                <li>Check your internet connection.</li>
                <li>If the problem persists, please contact our support team.</li>
            </ul>
            <p>If you'd like, you can return to the <a href="/" class="text-sucsses">homepage</a>.</p>
        </div>
    </div>
</div>